<button class="forgotPassword">
    Oh no! I forgot my password!
</button>
<div class="forgotPasswordForm">
    <h2 class="pageSubtitle">I forgot my password!</h2>
    <form action="/account/forgot" method="POST" class="form">
        <label for="email">Email</label>
        <input type="email" name="email" />
        <input type="submit" class="button" value="Send a Reset" />
    </form>
</div>