<form action="/login" method="POST" class="form loginForm">
    <label for="email">Email</label>
    <input type="email" name="email" />
    <label for="password">Password</label>
    <input type="password" name="password" />
    <input type="submit" class="button" value="Log In" />
</form>