<aside class="nav" id="nav">
    <span style="font-size: 100px;">I am nav</span>
    {{!-- {{ h.icon('close') }} --}}
    <button class="nav__hamburger" id="hamburger">
        <span class="open"></span>
        <span class="close">
        </span>

    </button>
</aside>