<div class="container contents-center pageWithLogo">
    <img src="/images/logo.svg" alt="JavaScript Best online JavaScript course reviews" class="jsb-logo">
    <div class="text">
        <h2 class="pageTitle">{{title}}</h2>
        <p class="description">We couldn't find what you're looking&nbsp;for.</p>
    </div>
    <div class="links m-t20">
        <a class="button link" href="/" title="Back to homepage">Back to homepage</a>
    </div>
</div>