extends layout

include mixins/_courseCard

block content
    .container
        h2.pageTitle= title
        //- pre= h.dump(courses)
        .courses
            each course in courses
                +courseCard(course)