<div class="container">
    <h2 class="pageTitle">{{ title }}</h2>
    <div class="courses">
        {{#each courses}}
            {{> courseCard}}
        {{/each}}
    </div>
</div>
{{> pagination page}}