extends layout

include mixins/_courseCard
include mixins/_pagination

block content
    .container
        h2.pageTitle= title
        .courses
            each course in courses
                +courseCard(course)
    +pagination(page, pages, count)