<div class="container">
    <h2 class="pageTitle">{{ title }}</h2>
    <div class="courses">
        {{#each courses}}
            {{> courseCard}}
        {{/each}}
    </div>
</div>
pages: {{pages}} <br />
page: {{page}} <br />
count: {{count}}
{{> pagination page}}