<section class="home">
    <div class="hero">
        <div class="contents-center">
            <h2 class="pageTitle">{{title}}</h2>
            <p class="lead">Number of reviews: {{count}}</p>
        </div>
    </div>
</section>