<div class="container contents-center edit__ login">
    <br>
    <h2 class="pageTitle loginForm">{{title}}</h2>
    <div class="content">
        <img src="/images/logo.svg" alt="JavaScript Best online JavaScript course reviews" class="jsb-logo">
        <div class="text">
            <h3 class="lead">Great to have you</h3>
            <p class="description">We require social login</p>
            <a class="login-button" href="/auth/google" title="login using Google">Sign in with Google</a>
        </div>


    </div>
    {{!-- {{> loginForm}} --}}
    {{!-- {{> forgotForm}} --}}
</div>