<div class="container contents-center edit">
    <a href="/auth/google">Login using Google account</a>
    {{!-- <a href="/google">Login using Google account</a> --}}
    <br>
    <a href="/contact">contact</a>
    <h2 class="pageTitle loginForm">
        {{title}}
    </h2>
    {{> loginForm}}
    {{> forgotForm}}
</div>