<div class="container contents-center login">
    <img src="/images/logo.svg" alt="JavaScript Best online JavaScript course reviews" class="jsb-logo">
    <div class="text">
        <h3 class="lead">Nice to have you.</h3>
        <p class="description">We require social login</p>
    </div>
    <div class="links">
        <a class="login-button is-google" href="/auth/google" title="login using Google">Sign in with Google</a>
        <a class="login-button is-github" href="/auth/github" title="login using Github">Sign in with Github</a>
    </div>
    <div class="author">
        <p>Because we want you to avoid username&#8209;password&nbsp;hell.</p>
        <p class="privacy-statement">Your information will be treated in accordance with our <a href="/privacy" title="Read our privacy policy">Privacy Policy</a>.</p>
    </div>
</div>