<div class="container contents-center edit">
    <h2 class="pageTitle">{{title}}</h2>
    <form class="form" method="POST">
        <label for="password">New Password</label>
        <input type="password" name="password">
        <label for="password-confirm">Confirm Password</label>
        <input type="password" name="password-confirm">
        <input type="submit" class="button" value="Reset Password">
    </form>
</div>