extends layout

include mixins/_reviewCard

block content
    .container
        h2.pageTitle= title
        //- pre= h.dump(reviews)
        .reviews
            each review in reviews
                +reviewCard(review)