<div class="container contents-center edit">
    <h2 class="pageTitle">{{title}}</h2>
    <form action="/signup" method="POST" class="form">
        <label for="name">Name</label>
        <input type="text" name="name" required>
        <label for="email">Email</label>
        <input type="email" name="email" required>
        <label for="password">Password</label>
        <input type="password" name="password" required>
        <label for="password-confirm">Confirm Password</label>
        <input type="password" name="password-confirm" required>
        <input type="submit" class="button" value="Sign Up">
    </form>
</div>