extends layout

block content
    .container
        h2.pageTitle= title
        ul.tags
            each tag in tags
                li.tag
                    a.tag__link(href=`/tags/${tag._id}`)
                        span= tag._id
                        span= tag.count