extends layout

include mixins/_courseCard

block content
    .container
        h2.pageTitle #{tag || 'Tags'}
        ul.tags
            each t in tags
                li.tag
                    a.tag__link(href=`/tags/${t._id}` class=(t._id === tag ? 'tag__link--active' : ''))
                        span.name= t._id
                        span.count= t.count
        .courses
            each course in courses
                +courseCard(course)
