.course {
    max-width: 960px;
    margin: 0 auto;

    &__hero {
        align-items: flex-start;
        display: flex;
        flex-flow: column nowrap;
        height: 200px;
        justify-content: flex-end;
        overflow: hidden;
        position: relative;
        @media (min-width: $maxMobileSmall) {
            height: 300px;
        }
        @media (min-width: $maxMobile) {
            height: 450px;
        }

        img {
            width: 100%;
        }
    }

    .title {
        background: $lightBlue;
        font-size: $courseTitleSize;
        padding: .25rem .75rem;
        position: relative;

        &:after {
            content: "";
            height: 0;
            width: 0;
            border-top: 35px solid transparent;
            border-left: 18px solid $lightBlue;
            position: absolute;
            right: -22px;
            top: 0;
            @media (min-width: $maxMobile) {
                border-top: 46px solid transparent;
            }
        }

        @media (min-width: $maxMobile) {
            font-size: $courseTitleSizeTablet;
        }
    }

    .instructor {
        background: $yellow;
        color: #000;
        margin: 6px auto 9px 0;
        padding: .25rem .75rem .2rem;
        position: relative;

        @media (min-width: $maxMobile) {
            font-size: $btnFontSize;
        }

        &:after {
            content: "";
            height: 0;
            width: 0;
            border-top: 0 solid transparent;
            border-left: 16px solid $yellow;
            border-bottom: 30px solid transparent;
            position: absolute;
            right: -20px;
            top: 0;
            @media (min-width: $maxMobile) {
                border-bottom: 35px solid transparent;
            }
        }
    }

    &__description {
        padding: 1rem 0 0;

        .description {
            margin-bottom: .5rem;
            @media (min-width: $maxMobile) {
                font-size: $btnFontSize;
            }
        }

        .rating {
            margin-bottom: .75rem;
            @media (min-width: $maxMobile) {
                display: flex;
                flex-flow: row nowrap;
            }
            .stars {
                color: $yellow;
                text-align: left;
                @media (min-width: $maxMobile) {
                    font-size: 1.5rem;
                }
            }
        }

        .tags {
            display: flex;
            flex-flow: row wrap;
            margin-bottom: 1.5rem;

            .tag {
                background: $yellow;
                line-height: 1rem;
                margin: .25rem;
                padding: .2rem .5rem .25rem 1rem;
                position: relative;

                @media (min-width: $maxMobile) {
                    padding: .35rem 0;
                }

                &:before {
                    content: "";
                    height: 0;
                    width: 0;
                    border-top: 12px solid transparent;
                    border-left: 6px solid #222;
                    border-bottom: 12px solid transparent;
                    position: absolute;
                    left: 0;
                    top: 0;
                    @media (min-width: $maxMobile) {
                        border-top: 14px solid transparent;
                        border-bottom: 13px solid transparent;
                    }
                }

                &:after {
                    content: "";
                    height: 0;
                    width: 0;
                    border-top: 12px solid transparent;
                    border-left: 6px solid $yellow;
                    border-bottom: 12px solid transparent;
                    position: absolute;
                    right: -6px;
                    top: 0;
                    @media (min-width: $maxMobile) {
                        border-top: 14px solid transparent;
                        border-bottom: 13px solid transparent;
                    }
                }

                &__link {
                    color: #000;
                    font-weight: bold;
                    font-size: .75rem;
                    letter-spacing: 0;
                    @media (min-width: $maxMobile) {
                        font-size: 1rem;
                        padding: .35rem .75rem;
                    }
                }
            }
        }
    }

    &__url {
        color: $yellow;
        text-decoration: underline;
    }

    .wanna {
        p, a {
            font-size: $courseTitleSize;
        }
        a {
            text-decoration: underline;
            color: $yellow;
        }
    }
}