.course {
    max-width: 960px;
    margin: 0 auto;

    &__hero {
        align-items: flex-start;
        display: flex;
        flex-flow: column nowrap;
        height: 200px;
        justify-content: flex-end;
        overflow: hidden;
        position: relative;
        @media (min-width: $maxMobileSmall) {
            height: 300px;
        }
        @media (min-width: $maxMobile) {
            height: 450px;
        }

        img {
            width: 100%;
        }
    }

    .title {
        background: $lightBlue;
        font-size: $courseTitleSize;
        padding: .25rem .75rem;
        position: relative;

        &:after {
            content: "";
            height: 0;
            width: 0;
            border-top: 35px solid transparent;
            border-left: 18px solid $lightBlue;
            position: absolute;
            right: -22px;
            top: 0;
            @media (min-width: $maxMobile) {
                border-top: 46px solid transparent;
            }
        }

        @media (min-width: $maxMobile) {
            font-size: $courseTitleSizeTablet;
        }
    }

    .instructor {
        background: $yellow;
        color: #000;
        margin: 6px auto 9px 0;
        padding: .25rem .75rem .2rem;
        position: relative;

        @media (min-width: $maxMobile) {
            font-size: $btnFontSize;
        }

        &:after {
            content: "";
            height: 0;
            width: 0;
            border-top: 0 solid transparent;
            border-left: 16px solid $yellow;
            border-bottom: 30px solid transparent;
            position: absolute;
            right: -20px;
            top: 0;
            @media (min-width: $maxMobile) {
                border-bottom: 35px solid transparent;
            }
        }
    }

    // &__heading {
    //     background: rgba(14, 153, 231, .85);
    //     left: 0;
    //     padding: .5rem 1rem;
    //     position: absolute;
    //     bottom: 10%;
    // }

    &__description {
        padding: 1rem 0;

        .description {
            margin-bottom: 2rem;
            @media (min-width: $maxMobile) {
                font-size: $btnFontSize;
            }
        }

        .tags {
            display: flex;
            flex-flow: row wrap;
            margin-bottom: 1rem;

            .tag {
                background: $yellow;
                border-radius: .25rem;
                line-height: 1rem;
                margin: .25rem;
                padding: .2rem .5rem .25rem;

                @media (min-width: $maxMobile) {
                    padding: .35rem .75rem;
                }
                &__link {
                    color: $black;
                    font-weight: bold;
                    font-size: .75rem;
                    letter-spacing: 0;
                    @media (min-width: $maxMobile) {
                        font-size: 1rem;
                        padding: .35rem .75rem;
                    }
                }
            }
        }
    }

    &__url {
        text-decoration: underline;
    }
}