.container.edit {
    form {
        padding: 2.5rem 0 3.5rem;

        label {
            display: block;
            font-size: $btnFontSize;
            margin-bottom: .5rem;

            &[for="image"] {
                background: $lightBlue;
                border-radius: .25rem;
                display: inline-block;
                margin-bottom: 2rem;
                line-height: 2.5rem;
                padding: 0 1rem;
                &:hover {
                    cursor: pointer;
                }
            }
        }

        input[type="text"],
        input[type="email"],
        input[type="password"],
        input[type="url"],
        textarea {
            border: none;
            border-radius: .25rem;
            box-sizing: border-box;
            color: $black;
            padding: .75rem;
            margin-bottom: 1.5rem;
            width: 100%;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"],
        input[type="url"] {
            height: 2.5rem;
        }

        input.dirty:required:invalid,
        textarea.dirty:required:invalid {
            background: #ffdbdb;
        }

        textarea {
            height: 10rem;
        }

        input[type="file"] {
            display: none;
            font-size: .75rem;
            height: 2rem;

            &:hover {
                cursor: poiner;
            }
        }

        img.preview {
            margin: 0 0 1.5rem;
            vertical-align: top;
            @media (min-width: 497px) {
                margin: 0 0 .25rem 2rem;
            }
        }

        .tags {
            display: flex;
            flex-flow: row wrap;

            .tag {
                &__choice {
                    align-items: center;
                    display: flex;
                    margin-bottom: .25rem;

                    input[type="checkbox"] {
                        position: relative;
                        right: -1.5rem;
                        top: -5px;
                        z-index: 10;

                        &:checked + label {
                            background: $yellow;
                        }
                    }

                    label {
                        background: $lightGrey;
                        color: $black;
                        border-radius: .25rem;
                        display: inline-block;
                        font-size: 1rem;
                        font-weight: bold;
                        padding: .35rem .75rem .35rem 2rem;
                        user-select: none;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .receiveCopy {
            margin-bottom: 2rem;

            input,
            label {
                &:hover {
                    cursor: pointer;
                }
            }

            label {
                display: inline;
                font-size: 1rem;
                margin-left: .5rem;
                user-select: none;
                vertical-align: middle;
            }
        }
    }
}