.reviews {
    margin: 3rem 0;

    .eachReview {
        border-left: 3px solid $monokaiBlue;
        padding: .5rem .5rem .5rem 1rem;
        margin-bottom: 1.5rem;

        &__header {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }

        &__author {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            img {
                width: 50px;
                margin-right: 1rem;
            }
        }

        &__rating {
            color: $chromeYellow;
        }

        &__time {
            font-size: 75%;
            opacity: .75;
            text-align: right;
        }
    }
}