.flash-messages {
    border-radius: .25rem;
    position: absolute;
    max-width: 310px;
    top: 3%;
    z-index: 50;
    right: -100%;
    animation: slideInMobile 5s;
    @media (min-width: $maxMobile) {
        animation: slideIn 5s;
    }

    .flash {
        align-items: center;
        border-radius: .25rem;
        display: flex;
        margin: 1rem 0;
        padding: .25rem 1.5rem .25rem .5rem;

        &.flash--success {
            background: $lightBlue;
        }

        &.flash--error {
            background: $red;
        }

        &__remove {
            background: none;
            border: none;
            font-size: 2rem;
            padding-right: .75rem;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

@keyframes slideInMobile {
    0% {
        left: 50%;
        transform: translate(-50%, 0);
    }
    90% {
        left: 50%;
        opacity: 1;
        transform: translate(-50%, 0);
    }
    100% {
        opacity: 0;
    }
}

@keyframes slideIn {
    0% {
        right: -100%;
    }
    10% {
        right: 10%;
    }
    90% {
        right: 10%;
    }
    100% {
        right: 150%;
    }
}