.flash-messages {
    border-radius: .25rem;
    position: absolute;
    right: 0;
    max-width: 500px;
    top: 3%;
    transform: translate(-50%, 0);

    .flash {
        align-items: center;
        border-radius: .25rem;
        display: flex;
        margin: 1rem 0;
        padding: .25rem 1.5rem .25rem .5rem;

        &.flash--success {
            background: $lightBlue;
        }

        &.flash--error {
            background: $red;
        }

        &__remove {
            background: none;
            border: none;
            font-size: 2rem;
            padding-right: .75rem;

            &:active,
            &:focus {
                outline: none;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}