body {
    background: #222;

    * {
        color: #efefef;
        font-family: 'Avenir', sans-serif;
        font-size: 100%;
        letter-spacing: .05rem;
    }
}

input,
textarea {
    &:focus {
        outline: none;
    }
}

.button {
    background: $lightBlue;
    border: none;
    border-radius: .25rem;
    color: #fff;
    font-size: $btnFontSize;
    height: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    &:hover {
        cursor: pointer;
    }
}

.m-t05 {
    margin-top: .5rem;
}
.m-t10 {
    margin-top: 1rem;
}

.m-t15 {
    margin-top: 1.5rem;
}

.m-t20 {
    margin-top: 2rem;
}

.m-t30 {
    margin-top: 3rem;
}

.no-letter-spacing {
    letter-spacing: 0;
}