.content {
    padding: 3rem 1rem;

    @media (min-width: $maxTablet) {
        margin-left: 200px;
    }
}

.pageTitle {
    font-size: $pageTitleSize;

    @media (min-width: $maxTablet) {
        font-size: $pageTitleSizeTablet;
        margin-bottom: .5rem;
    }

    @media (min-width: $maxLaptop) {
        font-size: $pageTitleSizeDesk;
        margin-bottom: 1rem;
    }
}

.pageSubtitle {
    font-size: $pageSubtitleSize;
}

.backdrop {
    display: none;
    &.active {
        display: block;
        background: #000;
        height: 100%;
        opacity: .85;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 50;
    }
}