.login {
    text-align: center;
    @media (min-width: $maxMobile) {
        padding-top: 3rem;
    }
    .jsb-logo {
        width: 90%;
        max-width: 320px;
    }

    .text {
        padding: 4rem 0 2rem;
        .lead {
            font-size: $pageSubtitleSize;
            font-weight: bold;
            margin-bottom: 1rem;
            @media (min-width: $maxMobile) {
                font-size: $pageTitleSizeDesk;
            }
        }
        .description {
            font-size: $btnFontSize;
        }
    }

    .links {
        .login-button {
            align-items: center;
            border-radius: .25rem;
            display: flex;
            font-size: $btnFontSize;
            font-weight: bold;
            flex-flow: column nowrap;
            padding: .75rem 1rem .75rem 2.25rem;
            position: relative;
            margin: 1rem auto 0;
            max-width: 260px;
            text-align: center;
                &:before {
                    content: "";
                    display: block;
                    height: 30px;
                    left: calc(50% - 110px);
                    position: absolute;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 30px;
                }
            &.is-google {
                background: $monokaiBlue;
                color: #fff;
                &:before {
                    background: url(/images/google-logo.svg) no-repeat center;
                    background-size: contain;
                }
            }
            &.is-github {
                background: $chromeYellow;
                color: $black;
                &:before {
                    background: url(/images/octcat.svg) no-repeat center;
                    background-size: contain;
                }
            }
        }
    }

    .author {
        margin-top: 2rem;
    }
}