.nav {
    background: $lightBlue;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .5);
    height: 100%;
    position: fixed;
    left: -200px;
    text-align: center;
    top: 0;
    width: 200px;
    transition: left .2s ease-out;
    z-index: 30;

    &.active {
        left: 0;
    }

    @media (min-width: $maxTablet) {
        left: 0;
    }

    li a {
        display: block;
        font-size: 1.25rem;
        font-weight: bold;
        padding: .75rem;
        text-transform: uppercase;

        &:hover {
            background: darken($lightBlue, 10%);
        }
    }

    &__active {
        background: darken($lightBlue, 10%);
    }

    &__top {
        box-shadow: 0px 3px 4px rgba(0, 0, 0, .5);
        padding: 2rem 0 1.5rem;

        &__logo {
            font-size: 1.75rem;
            font-weight: bold;
            margin-bottom: 2rem;
        }

        &__button {
            background: $lightBlue;
            border: none;
            bottom: 3rem;
            box-shadow: 3px 2px 4px rgba(0, 0, 0, .5);
            display: flex;
            position: absolute;
            right: -42px;
            height: 42px;
            width: 42px;

            svg {
                fill: #fff;
            }

            &:active,
            &:focus {
                outline: none;
            }

            &:hover {
                cursor: pointer;
            }

            @media (min-width: $maxTablet) {
                display: none;
            }
        }
    }

    &__main {
        padding: 2rem 0;
    }
}

.search-container {
    position: absolute;
    top: 1%;
    right: 1.25rem;
    width: 88%;
    max-width: 420px;
    .search {
        .search-input {
            background: #666;
            border: none;
            box-shadow: inset 0 0 6px #000;
            box-sizing: border-box;
            color: #fff;
            outline: none;
            padding: .5rem .5rem .35rem;
            width: 100%;
            &::placeholder {
                color: #ccc;
            }
            &::-ms-input-placeholder {
                color: #ccc;
            }
        }
        .search-results {
            .search-result {
                background: #fff;
                border-bottom: 2px solid $black;
                display: block;
                padding: .25rem .5rem;
                &:hover {
                    background: $black;
                    strong {
                        color: $lightGrey;
                    }
                }
                &.isActive {
                    background: $lightGrey;
                }

                strong {
                    color: $black;
                }
            }
        }
    }
}