.nav {
    background: $monokaiBlue;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .5);
    height: 100%;
    left: -200px;
    position: fixed;
    bottom: 0;
    width: 200px;
    z-index: 60;

    @media (min-width: $maxTablet) {
        left: 0;
    }

    &__hamburger {
        background: $monokaiBlue;
        border: none;
        bottom: 100px;
        z-index: 60;
        box-shadow: 3px 2px 4px rgba(0, 0, 0, .5);
        display: flex;
        height: 42px;
        justify-content: flex-end;
        outline: none;
        position: absolute;
        position: fixed;
        left: -14px;
        width: 42px;

        span {
            height: 32px;
            display: block;

            &.open {
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-around;
                padding-right: .25rem;
                .dot {
                    background: #fff;
                    border-radius: 50%;
                    height: 5px;
                    width: 5px;
                }
            }

            svg {
                fill: #fff;
            }
        }

        .close {
            display: none;
        }

        &:hover {
            cursor: pointer;
        }

        @media (min-width: $maxTablet) {
            display: none;
        }
    }

    &__wrapper {
        height: 100%;
        overflow-x: auto;

        @media (min-width: $maxTablet) {
            overflow: visible;
        }

        &__top {
            padding: 1rem 0 1rem;

            @media (min-width: $maxMobileSmall) {
                padding: 3rem 0 1rem;
            }

            .logo {
                padding: 0 1.25rem;
                // margin-bottom: 1rem;

                @media (min-width: $maxMobileSmall) {
                    margin-bottom: 3rem;
                }

                h1 {
                    a {
                        font-family: Helvetica, Arial, sans-serif;
                        font-size: 2.8rem;
                        font-weight: bold;
                        line-height: 1;
                        letter-spacing: -2px;
                    }
                }

                p {
                    line-height: 1.25;
                    padding-top: .5rem;
                }
            }
        }

        li:not(.thumbnail) {
            height: 50px;
            line-height: 50px;
            border-bottom: 1px solid #1d6dd6;

            &.thumbnail {
                height: auto;
            }

            &:first-child {
                border-top: 1px solid #1d6dd6;
            }
        }

        li a,
        li span,
        li button {
            background: transparent;
            border: none;
            box-sizing: border-box;
            display: block;
            font-size: $cardTitleSize;
            margin: 0 auto;
            outline: none;
            padding: 0 .75rem 0 1.5rem;
            text-align: left;
            width: 100%;

            &.search-button {
                height: 100%;
            }

            &.likes-count {
                display: inline;
            }

            &.avatar {
                padding: 1rem .75rem 0;

                img {
                    border-radius: .25rem;
                    display: block;
                    margin-left: .75rem;
                    width: 75px;
                }
            }

            &:hover:not(.avatar):not(.likes-count) {
                background: #fff;
                color: $monokaiBlue;
                cursor: pointer;
                span {
                    color: $monokaiBlue;
                }
            }

            @media (min-width: $maxTablet) {
                &.is-active {
                    position: relative;

                    &:after {
                        content: "";
                        height: 0;
                        width: 0;
                        border-top: 12px solid transparent;
                        border-bottom: 12px solid transparent;
                        border-left: 12px solid $monokaiBlue;
                        position: absolute;
                        right: -12px;
                        top: calc(50% - 12px);
                    }

                    &:hover:after {
                        border-left: 12px solid #fff;
                    }
                }
            }
        }
    }

    &.active {
        left: 0;

        .nav__hamburger {
            justify-content: center;
            left: 200px;

            span {
                &.open {
                    display: none;
                }

                &.close {
                    display: block;
                }
            }
        }
    }
}