.nav {
    background: $lightBlue;
    height: 100%;
    position: fixed;
    left: -200px;
    // left: 0;
    text-align: center;
    top: 0;
    width: 200px;

    @media (min-width: $maxTablet) {
        left: 0;
    }

    li a {
        display: block;
        font-size: 1.25rem;
        font-weight: bold;
        padding: .75rem;
        text-transform: uppercase;
        &:hover {
            background: darken($lightBlue, 10%);
        }
    }


    &__top {
        box-shadow: 0px 3px 4px rgba(0, 0, 0, .5);
        padding: 2rem 0 1.5rem;

        &__logo {
            font-size: 1.75rem;
            font-weight: bold;
            margin-bottom: 2rem;
        }

        &__button {
            background: $lightBlue;
            border: none;
            font-size: 2rem;
            font-weight: bold;
            position: absolute;
            right: -35px;
            bottom: 3rem;
            &:hover {
                cursor: pointer;
            }
            @media (min-width: $maxTablet) {
                display: none;
            }
        }
    }

    &__main {
        padding: 2rem 0;
    }
}