.reviewer {
    margin: 3rem 0;

    &__title {
        font-size: $courseTitleSize;
        margin-bottom: 1rem;
        @media (min-width: $maxMobile) {
            font-size: $courseTitleSizeTablet;
        }
    }

    &__text {
        border-radius: .25rem;
        box-sizing: border-box;
        color: $black;
        height: 10rem;
        margin: 0 0 1.25rem;
        padding: .5rem;
        width: 100%;
    }

    &__stars {
        display: flex;
        justify-content: center;
        text-align: center;
        input[type="radio"] {
            display: none;
            &:checked {
                & ~ label {
                    color: $chromeYellow;
                }
            }

            & + label {
                font-size: 0;
                flex: 0 0 2.5rem;
                &:before {
                    content: '★';
                    font-size: 2rem;
                }
                &[for="star5"] {
                    order: 5;
                }
                &[for="star4"] {
                    order: 4;
                }
                &[for="star3"] {
                    order: 3;
                }
                &[for="star2"] {
                    order: 2;
                }
                &[for="star1"] {
                    order: 1;
                }
                &:hover,
                &:hover ~ label {
                    color: lighten($chromeYellow, 0);
                    cursor: pointer;
                }
            }
        }
    }

    &__error {
        visibility: hidden;
        p {
            color: $chromeYellow;
            font-size: $btnFontSize;
            text-align: center;
        }
        &.active {
            visibility: visible;
        }
    }
}