$black: #444;
$lightGrey: #dcdcdc;
$monokaiRed: #f92672;

$monokaiBlack: #272822;
$monokaiBlue:#2680f9;
$monokaiGreen: #a6e22e;

$pageTitleSize: 1.75rem;
$pageTitleSizeTablet: 2.25rem;
$pageTitleSizeDesk: 2.75rem;
$pageSubtitleSize: 1.75rem;
$baseFontSize: .9rem;
$btnFontSize: 1.25rem;
$cardTitleSize: 1.5rem;

$courseTitleSize: 1.25rem;
$courseTitleSizeTablet: 1.75rem;

$maxMobileSmall: 376px;
$maxMobile: 767px;
$maxTablet: 1024px;
$maxLaptop: 1680px;
$maxDesktop: 1921px;